$color-letra:rgb(17, 17, 211);
$color-principal:rgb(181, 179, 179);
body{
    background-color: $color-principal;
}
p{
    font-size: 20px;
    text-align: justify;
    color: $color-letra;
}


@media (min-width: 768px) { 
    h4 {
        font-size: 5px;
        color: green;
    }
}

@media (max-width: 880px) {

    h4 {
        font-size: 5px;
        color: red;
    }
     
}