
// variables
$color-principal:black;
$color-letras:blue;
$color-prim:white;
$color-seg:dark;
$color-ter:yellow;
$color-cuar:rgb(248, 93, 248);

body{
    background-color:rgb(231, 214, 247);
}
h2{
    color: $color-principal;
}
p{
    color: purple;
    text-decoration:none;
    padding: 2px;
}
//anidado
.navbar-red {
    &:hover {
        .wrapper {
            clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
        }
    }

    background-color: $color-cuar;
    color:$color-prim;
}
@media (max-width: 500px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 30px;
        color:$color-letras;
    }
    p{
        font-size: 5px;
        color:$color-cuar;

    }
}
